.gallery-view-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gallery-wrapper-outer {
    width: 80%;
  }
  
  .filter-wrapper {
    display: flex;
    gap: 10em;
    justify-content: flex-start;
  }
  
  .dropdown-wrapper {
    display: flex;
    gap: 3em;
  }
  
  .gallery-wrapper-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 9px #00000030;
  }
    
  .large-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  img{
    border-radius: 8px; 
  }
  
  .small-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .pagination-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
  }

  .remove-margin{
    margin-top: -9.2rem;
  }

  .btn{
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: rgb(190, 126, 250);
    color: white;
    font-weight: 500;
    cursor: pointer;
  }

  .remove-event{
    cursor: not-allowed;
    pointer-events: none;
  }

  .add-event{
    cursor: pointer;
    pointer-events: auto;
  }

  .search-asset{
    outline: none;
    border: 1px solid #f29ff2bf;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    font-size: 14px;
  }

  .not-found-asset {
    text-align: center;
  }

  .image-wrapper {
    position: relative;
  }

  .open-popup-icon-wrapper{
    position: absolute;
    right: 3px;
    padding: 3px;
    background-color: #fae6fd;
    color: black;
    border: 1px solid transparent;
    border-radius: 6px;
    top: 3px;
    font-size: 16px;
    cursor: pointer;
  }

  .filter-title{
    font-size: 20px;
    margin-top: 1em;
    width: 100%;
  }

  .image-not-found-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-shadow: 5px 5px 9px #00000030;
  }

  .navbar-wrapper-outer {
    position: sticky;
    top: 5px;
    border-radius: 5px;
    padding: 5px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-bg-color-dark{
    background-color: #202020; 
  }

  .navbar-bg-color-light{
    background-color: #fff; 
  }


  .filter-title-warpper{
    display: flex;
    gap: 2em;
    align-items: center;
  }

  .dropdown-wrapper{
    display: flex    ;
    align-items: center;
    gap: 1em;
    cursor: pointer;
  } 

  .light-theme-icon, .dark-theme-icon{
    font-size: 20px;
    margin-top: 5px;
  }

  .dark-mode{
    background-color: #121212;
    color: #E3E3E3;
  }

  .light-mode{
    background-color: white;
    color: black;
  }

  .dot-container{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: red;
  }

  .dot {
    height: 6px;
    width: 6px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
  }

  .item-dot-green {
    background-color: rgb(106, 191, 75) !important;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-wrapper{
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .visible {
    opacity: 1;
    pointer-events: auto;
  }

  .pagination-wrapper-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }